<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github User Activity CLI</title>
    <link rel="icon" href="/main/GithubUserActivity/github-brands-solid.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main class="main">
        <h1>Github User Activity</h1>
        <p>Enter a GitHub username below to see their profile and recent activity:</p>
        <input type="search" id="searchInput" class="search">
        <button id="searchBtn"><i class="fa-solid fa-magnifying-glass"></i></button>
    </main>
    <script src="user.js"></script>
</body>
</html>